---
layout: archive
permalink: /members/
classes: wide
---
<section class="page__inner-wrap">
<h1>Professor</h1>
<div class="feature__wrapper">
{% for person in site.data.current_members %}
    {% if person.role == "Professor" %}
    <div class="feature__item">
    <div style="width:30%">
    <img src="{{person.img}}" style="width:100%; height:100%">
    </div>
        <h3>{{person.name}}</h3>
        <h4>{{person.email}}</h4>
        <h4>{{person.interest}}</h4>
    </div>
    {% endif %}
{% endfor %}
</div>

<h1>Ph.D</h1>
<div class="feature__wrapper">
{% for person in site.data.current_members %}
    {% if person.role contains "Ph.D" %}
    <div class="feature__item">
    <div style="width:30%">
    <img src="{{person.img}}" style="width:100%; height:100%">
    </div>
        <h3>{{person.name}}</h3>
        <h4>{{person.email}}</h4>
        <h4>{{person.interest}}</h4>
    </div>
    {% endif %}
{% endfor %}
</div>

<h1>Master</h1>
<div class="feature__wrapper">
{% for person in site.data.current_members %}
{% if person.role contains "Master" %}
<div class="feature__item">
    <div style="width:30%">
    <img src="{{person.img}}" style="width:100%; height:100%">
    </div>
    <h3>{{person.name}}</h3>
    <h4>{{person.email}}</h4>
    <h4>{{person.interest}}</h4>
</div>
{% endif %}
{% endfor %}
</div>

<h1>Intern</h1>
<div class="feature__wrapper">
{% for person in site.data.current_members %}
{% if person.role contains "Intern" %}
<div class="feature__item">
    <div style="width:30%">
    <img src="{{person.img}}" style="width:100%; height:100%">
    </div>
    <h3>{{person.name}}</h3>
    <h4>{{person.email}}</h4>
    <h4>{{person.interest}}</h4>
</div>
{% endif %}
{% endfor %}
</div>
<h1>Alumni</h1>
<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Degree</th>
        <th>Career</th>
    </tr>
    </thead>
    <tbody>
        {% for person in site.data.alumni %}
            <tr>
                <td>{{person.name}}</td>
                <td>{{person.role}}</td>
                <td>{{person.work}}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
</section>


