{% assign entries = site[include.collection] %}

{% if include.sort_by == 'title' %}
  {% if include.sort_order == 'reverse' %}
    {% assign entries = entries | sort: 'title' | reverse %}
  {% else %}
    {% assign entries = entries | sort: 'title' %}
  {% endif %}
{% elsif include.sort_by == 'date' %}
  {% if include.sort_order == 'reverse' %}
    {% assign entries = entries | sort: 'date' | reverse %}
  {% else %}
    {% assign entries = entries | sort: 'date' %}
  {% endif %}
{% endif %}

<h2>Ongoing Projects</h2>
{%- for post in entries -%}
  {%- if post.progress contains "Ongoing" %}
    {% include project-archive-single.html %}
  {% endif %}
{%- endfor -%}

<h2>Closed Project</h2>
{%- for post in entries -%}
  {% if post.progress contains "Finish" %}
    {% include project-archive-single.html %}
  {% endif %}
{%- endfor -%}
